body {
  box-sizing: border-box;
  display: block;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
.form__headings,
h1,
h2 {
  font-weight: 400;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  font-weight: thin;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin: 7px;
  width: 200px;
  height: 20px;
}
textarea {
  margin: 7px;
  width: 200px;
  height: 100px;
}
.btn__submit {
  width: 200px;
  height: 40px;
  background-color: white;
  letter-spacing: 2px;
  border: 1px solid black;
}
.footer {
  width: 100%;
  background-color: #383b44;
  color: #ebecf0;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper__information {
  text-align: left;
  margin: 10px;
}
.wrapper__resorces {
  margin: 10px;
}
